html{
    
    border: 1px solid green;
    margin: 5px;
}

body{
    border: 1px solid blue;
}

.flex-container{
    display: flex;
}

.flex-container div{

    /* height: 100vh; */

    margin: 5px;
    border: 1px solid red;
}

.sideA{
    width: 30%;
}

.sideB{

    width: 70%;
    display: flex;

    flex-direction: column;
}

.sideB div{
    border: 1px solid purple;
}